---
import SectionHeader from '../../components/headers/SectionHeader.astro'
import '../../assets/scss/pages/resume.scss'

const highlights = [
  {
    year: 2018,
    imgUrl: '/images/logos/crossover-logo.svg',
    company: 'Crossover',
    role: 'Product Chief Architect',
  },
  {
    year: 2019,
    imgUrl: '/images/logos/rocket-money-logo.webp',
    company: 'Rocket Money',
    role: 'Senior Architect',
  },
  {
    year: 2022,
    imgUrl: '/images/logos/cva-logo.svg',
    company: 'Toki Labs | CVA',
    role: 'CTO',
  },
]
---

<!--
  INVERTED
  <li class="experience-highlight hover-effect group relative z-0 h-full overflow-hidden rounded-2xl bg-black bg-opacity-95 shadow-lg shadow-black">
            <div class="z-10 flex flex-col items-center justify-around gap-y-4 px-6 py-8 text-center">
              <div class="text-2xl font-semibold text-gray-300">{h.year}</div>
              <div class="flex flex-col items-center justify-center gap-1">
                <div class="flex size-28 items-center justify-center rounded-full bg-white text-center">
                  <img src={h.imgUrl} alt={`${h.company} logo`} class="mx-auto max-h-16 max-w-16" />
                </div>
                <h4 class="font-thin ">{h.company}</h4>
              </div>
              <h4 class="font-normal">{h.role}</h4>
            </div>
          </li>
 -->
<section>
  <SectionHeader title="Last Roles" />
  <ul
    class="last-roles mx-auto mt-8 grid max-w-fit grid-rows-3 gap-6 space-x-2 space-y-0 md:grid-cols-3 md:grid-rows-none">
    {
      highlights.map((h) => (
        <li class="experience-highlight hover-effect group relative z-0 h-full overflow-hidden rounded-2xl bg-white bg-opacity-95 shadow-lg shadow-black">
          <div class="z-10 flex flex-col items-center justify-around gap-y-4 px-6 py-8 text-center">
            <div class="text-2xl font-semibold text-gray-700">{h.year}</div>
            <div class="flex flex-col items-center justify-center gap-1">
              <div class="flex size-28 items-center justify-center rounded-full bg-black text-center">
                <img src={h.imgUrl} alt={`${h.company} logo`} class="mx-auto max-h-16 max-w-16" />
              </div>
              <h4 class="font-thin text-gray-900">{h.company}</h4>
            </div>
            <h4 class="font-normal text-gray-900">{h.role}</h4>
          </div>
        </li>
      ))
    }
  </ul>
</section>
