---
const { logo, role, company, fromDate, toDate, blue, dark, red, green, yellow, indigo, purple, pink } = Astro.props
---

<li>
  <div class="relative pb-8">
    <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
    <div class="relative flex items-start space-x-3">
      <div class="relative">
          <img class="flex h-10 w-10 items-center justify-center rounded-full bg-gray-400 ring-4 ring-white" src={`/images/${logo}`} alt="">
        </div>
        <div class="min-w-0 flex-1">
          <div>
            <div class="text-sm">
              <h5>{role}</h5>
              <span>{company}</span>
            </div>
            <p class="mt-0.5 text-sm text-gray-500">{fromDate} - {toDate}</p>
            <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">{blue}</span>
            <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300">{dark}</span>
            <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">{red}</span>
            <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">{green}</span>
            <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300">{yellow}</span>
            <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-indigo-900 dark:text-indigo-300">{indigo}</span>
            <span class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-purple-900 dark:text-purple-300">{purple}</span>
            <span class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-pink-900 dark:text-pink-300">{pink}</span>
          </div>
          <div class="mt-2 text-sm text-gray-400">
              <slot />
          </div>
        </div>
      </div>
  </div>
  </li>