---
const { logo, role, company, descriptor } = Astro.props
---

<div class="relative mt-12 pl-5 ml-[-22px] border-l-2 border-[#ffffff18]">
  <div class="flex items-start gap-4">
    <div class="flex-shrink-0">
      <img class="h-16 w-16 rounded-md object-contain bg-gray-800 p-2" src={`/images/logos/${logo}`} alt={`${company} logo`} />
    </div>
    <div class="flex-1">
      <div class="mb-3">
        <h4 class="text-base font-semibold">{role}</h4>
        <div class="text-lg">
          {company}
          {descriptor && <small class="ml-3 font-normal italic text-gray-400">{descriptor}</small>}
        </div>
      </div>
      <div class="text-sm leading-relaxed text-gray-200">
        <slot />
      </div>
    </div>
  </div>
</div>
