---
import DefaultLayout from './DefaultLayout.astro'

const { frontmatter } = Astro.props

const {
  title = 'Saulo Vallory - Senior Software Engineer',
  description = 'Here are the most interesting parts of my 20 years as an Engineer',
  url,
  image = '/social-preview-image.png',
  author = 'Saulo Vallory',
} = Astro.props
---

<DefaultLayout
  title={frontmatter.title}
  description={frontmatter.description}
  url={frontmatter.url}
  image={frontmatter.image}
  author={frontmatter.author}>
  <div class="container">
    <div class="space-content my-12">
      <slot />
    </div>
  </div>
</DefaultLayout>
